SignUp-Background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
  }
    
  .SignUp-Background h1 {
    color: blue;
  }
  .Login-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .Name-container{
    background-color: white;
    padding: 4px;
    color: black;
  }
  .Email-container{
    background-color: white;
    padding: 4px;
    color: black;
  }
  .Password-container{
    background-color: white;
    padding: 4px;
    color: black;
  }
  .Login-container button{
    padding: 10px;
    color: white;
    background-color: blue;
  }
  .Background-color h2 {
    color: blue;
    font-size: x-small;
  }
  .Background-color h3 {
    color: black;
    font-size: xx-small;
  }
  .Sign-up {
    color: blue;
  }
  